@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .pesquisa div {
        button {
            max-width: 54px;
        }
    }

    main .produtos {
        flex-direction: row;
        justify-content: space-between;
    }

    .carrinho {
        .container {
            .c-itens {
                align-items: stretch;

                li {
                    flex-direction: row;
                    justify-content: space-between;

                    .info {
                        flex-direction: row;

                        img {
                            width: 160px;
                            margin-top: 0;
                            margin-right: 12px;
                        }
                        
                        div {
                            #info-nome {
                                margin-bottom: 20px;
                            }
                            #info-preco {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .cadastro {
        padding: 32px;

        .container {
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            .user-info {
                width: 320px;
            }

            .total {
                border-top: none;
                padding-top: 0em;
                width: 320px;
            }
        }
    }
}

@media screen and (min-width: 810px) and (max-width: 1099px) {
    main {
        .container {
            max-width: 700px;
            padding: 0;
        }
    }
}

@media screen and (min-width: 1100px) {
    body {
        font-size: 20px;
    }

    .container {
        max-width: 1000px;
        padding: 0;
    }

    .pesquisa div {
        button {
            max-width: 54px;
        }
    }

    main .produtos {
        flex-direction: row;
        justify-content: space-between;
    }

    .cadastro {
        .container {
            .user-info {
                position: relative;
            }

            .user-info::after {
                content: " ";
                position: absolute;
                right: -70px;
                height: 200px;
                width: 1px;
                background: $laranja;
            }
        }
    }
}
